.notifyC {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.notifyHead {
  height: 10%;
  border-bottom: 1px solid #9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notifications {
  height: 90%;
  overflow-y: auto;
}
.Nimg {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.Nimg > img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.Nname {
  gap: 5px;
  align-items: center;
}
@media screen and (max-width:768px){
  .notifyC{
    font-size: 14px;
  }
}