.sideMenu {
  display: flex;
  flex-direction: column;
}

.sideMenu .nav {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.sideMenu .nav li img {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}
.navlink {
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 25px;
  transition: 0.5s;
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  text-decoration: none;
  color: var(--color-dark);
}

.navlink:hover,
.navlink.active {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1);
  background: var(--color-light);
  scale: 1.1;
}

.nav-name.active {
  display: none;
}

.notification {
  position: absolute;
  left: 60px;
  color: red;
}

@media screen and (max-width: 768px) {
  .sideMenu {
    display: flex;
  }
  .nav-name {
    display: none;
  }
  .sideMenu .nav {
    justify-content: center;
  }
  .navlink {
    -webkit-padding-start: 0;
  }
  .navlink:hover,
  .navlink.active {
    box-shadow: none;
    scale: 1.2;
    background: none;
  }
  .nav-icon.active{
    scale: 1.1;
  }
}
