.exploreContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

.exploreImg {
  width: 33%;
  max-height: 21rem;
  position: relative;
}

.exploreImg > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.iconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.521);
  visibility: hidden;
  cursor: pointer;
}
.exploreImg:hover .iconContainer {
  visibility: visible;
}

.likeIcon {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
  color: white;
}
.commentIcon {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .exploreContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    height: 100vh;
    position: relative;
    
  }
  .exploreImg {
    width: 45%;
    position: relative;

  }
  .iconContainer {
    width: 100%;
    height: 100%;
  }
  .likeIcon {
    font-size: 1rem;
    gap: 0.1rem;

  }
  .commentIcon {
    font-size: 1rem;
    gap: 0.1rem;
  }
}
